.tooltip {
    /* display : none; */
    position: absolute;
    background: #9ed6ff;
    box-sizing: border-box;
    /* border  : 1px solid #0081ff; */
    color   : red;
    bottom  : 100%;
    padding : 5px; 
    border-radius: 2px;
    visibility: hidden;
}

.tooltip::after {
    position: absolute;
    border-top  : 5px solid #9ed6ff;
    border-left : 5px solid transparent;
    border-right: 5px solid transparent;
    top: 100%;
    left: 50%;
    content: '';
}

.tooltip-bottom{
    bottom  : unset;
    top     : 100%;
}
.tooltip-bottom::after {
    position: absolute;
    border-top  : none;
    border-bottom  : 5px solid #9ed6ff;
    top: unset;
    bottom: 100%;
    content: '';
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeOutOpacity {
    0% {
        opacity: 1;
        transform: translateX(0px);
        visibility: visible;
    }
    99% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 0;
        transform: translateX(20px);
        visibility: hidden;
    }
}

.show {
    display : block;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-duration: .2s;
    visibility: visible;
}

.hide {
    animation-name: fadeOutOpacity;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: .2s;
}

